<h1>Promptagram</h1>

<% if current_user %>
  <p>You are currently logged in as <%= current_user.email %></p>
  <p><%= link_to "Log out", log_out_path %></p>
<% else %>
  <h3><%= link_to "Log in", log_in_path %></h3>
  <h3><%= link_to "New user", new_user_path %></h3>
<% end %>

<% if current_user %>
  <%= link_to "Display My Photos", user_images_path(current_user) %>
<% end %>
